{
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:prettier/recommended",
  ],
  "rules": {
    "curly": ["error", "all"],
    "eqeqeq": ["error", "smart"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false,
      },
    ],
    "no-shadow": [
      "error",
      {
        "hoist": "all",
      },
    ],
    "prefer-const": "error",
    "import/order": [
      "error",
      {
        "groups": [
          ["external", "builtin"],
          "internal",
          ["parent", "sibling", "index"],
        ],
      },
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
      },
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return",
      },
    ],
    "react-hooks/exhaustive-deps": "error",
    "react/no-string-refs": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
  },
  "root": true,
  "plugins": ["import"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:cypress/recommended",
      ],
      "parserOptions": {
        "project": "./tsconfig.json",
        "createDefaultProgram": true,
      },
      "rules": {
        "no-shadow": "off",
        "@typescript-eslint/prefer-optional-chain": "error",
        "@typescript-eslint/no-shadow": "error",
        "@typescript-eslint/prefer-nullish-coalescing": "error",
        // "@typescript-eslint/strict-boolean-expressions": "error",
        "@typescript-eslint/no-unnecessary-boolean-literal-compare": "error",
        "@typescript-eslint/no-unnecessary-condition": "error",
        "@typescript-eslint/no-unnecessary-type-arguments": "error",
        "@typescript-eslint/prefer-string-starts-ends-with": "error",
        "@typescript-eslint/switch-exhaustiveness-check": "error",
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-misused-promises": "off",
        "@typescript-eslint/strict-boolean-expressions": [
          "error",
          {
            "allowNullableBoolean": true,
          },
        ],
        "prettier/prettier": [
          "error",
          {
            "endOfLine": "auto",
          },
        ],
      },
    },
  ],
}
